<div class="container-fluid">
    <div class="row align-items-center vh-100">
        <div class="col-sm col">
            <div class="card shadow border">
                <div class="card-header text-center">
                    <div class="row">
                        <div class="col-4 text-start">
                            <h2>Scribble</h2>
                        </div>
                        <div class="col-8 text-end">
                            Nombre del usuario, foto
                            <button class="btn btn-primary">
                                <i class="bi bi-plus-circle"></i>
                                Crear nuevo scribble
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col col-sm black text-center mw-100">
                    <div class="white justify-content-center">
                        <div class="row d-flex align-items-center">
                            <div class="col">
                                <button class="btn btn-outline-light button-solid btn-lg shadow-none">
                                    <i class="bi bi-person-plus-fill"></i>Invitar
                                </button>
                            </div>
                            <div class="col">
                                <div class="dropdown">
                                    <button
                                        class="btn btn-outline-light button-solid dropdown-toggle btn-lg shadow-none"
                                        type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="bi bi-three-dots-vertical"></i>Más
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body d-flex flex-column align-items-center">
                    <h4>Título de encuesta</h4>
                    <p>por Nombre del creador</p>
                    <div class="row">
                        <div class="col-12 col-sm">
                            <h5 class="text-muted">
                                <i class="bi bi-eye-slash-fill"></i>
                                Solo usted puede ver todos los votos y comentarios
                            </h5>
                            <br>
                            <h5 class="text-muted">
                                <i class="bi bi-check-all"></i>
                                Marca las casillas dos veces para seleccionar el voto "Sí, si es necesario"
                            </h5>
                            <br>
                        </div>
                    </div>
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Opcion</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><i class="bi bi-person-circle"></i> Usuario</th>
                                <td>check</td>
                            </tr>
                            <tr>
                                <th scope="row"><i class="bi bi-person-circle"></i> Nombre</th>
                                <td (click)="oneClick()" class="grey">
                                    <div [ngSwitch]="updateIcon">
                                        <div *ngSwitchCase="0">
                                            <div class="greeN fs-3"><i class={{icon}}></i></div>
                                        </div>
                                        <div *ngSwitchCase="1">
                                            <div class="yellowN fs-3"><i class={{icon}}></i></div>
                                        </div>
                                        <div *ngSwitchCase="2">
                                            <i class={{icon}}></i>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer text-center">
                    <div class="row d-flex align-items-center">
                        <div class="col-3 col-sm-4 text-center">
                            Made with <i class="bi bi-heart-fill red"></i> in Bolivia
                        </div>
                        <div class="col-5 col-sm-4 text-center">
                            <h2>Scribble</h2>
                        </div>
                        <div class="col-3 col-sm-4 text-center">
                            Tiempo de creacion
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>