.gradient-custom {
    /* fallback for old browsers */
    background: #e8e8e8;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(48, 71, 94, 1), rgba(240, 84, 84, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(48, 71, 94, 1), rgba(240, 84, 84, 1));
}
.smallImg {
    height: 38%;
    width: 38%;
}