<div class="vh-100 gradient-custom mx-auto">
    <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <h3 class="mb-5">Inicia sesion en: </h3>
                        <img [src]="'assets/images/logo/scribble.jpeg'"
                            class="card-img-top img-fluid smallImg rounded mx-auto d-block">
                        <hr class="my-4">
                        <button class="border border-light btn btn-lg btn-block btn-primary"
                            style="background-color: #dd4b39;" type="submit" (click)="signInWithGoogle()"><i
                                class="bi bi-google"></i>
                            Google</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>