<div class="vh-100 gradient-custom mx-auto">
  <div class="container py-5">
      <div class="row d-flex justify-content-center align-items-center">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5 con">
              <div class="card bg-light text-black my-5 py-2" style="border-radius: 1rem;">
                  <div class="card-body p-5 text-center">
                    <!-- <h4 class="mb-2" >Welcome to: </h4> -->

                      <img [src]="'assets/images/logo/logo.png'"
                          class="card-img-top img-fluid smallImg rounded mx-auto d-block">
                      <hr class="my-4">
                      <h3 class="mb-3">Login with: </h3>

                      <button class="border border-light btn btn-lg btn-block btn-primary"
                           type="submit" (click)="signInWithGoogle()"><i
                              class="bi bi-google"></i>
                          Google</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>