<div>
  <div class="">
    <div class=" col">
      <div class="cardd card shadow border ">
        <app-header *ngIf="showHeader"></app-header>
        <div *ngIf="!showHeader">
          <mat-toolbar>
            <span class="spacer"></span>
            <div class="head">
              <button mat-flat-button routerLink="/dashboard" routerLinkActive="active"><span
                  class="title">Scribble</span></button>
            </div>

            <button mat-button class="create" routerLink="/sign-up" routerLinkActive="active">Sign Up</button>
            <button mat-button class="create" routerLink="/sign-in" routerLinkActive="active">Sign In</button>


          </mat-toolbar>

        </div>
        <div class="col col-sm black text-center mw-100">
          <div class="white justify-content-center">
            <div *ngIf="showInvite" class="row d-flex align-items-center">
              <div class="col">
                <button class="btn btn-outline-light button-solid btn-lg shadow-none">
                  <i class="bi bi-person-plus-fill"></i> Copy Invite Link
                </button>
              </div>
              <div class="col">
                <div class="dropdown">
                  <button class="btn headB btn-outline-light button-solid dropdown-toggle btn-lg shadow-none"
                    type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-three-dots-vertical"></i> More
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item">Edit</a></li>
                    <li><a class="dropdown-item">Delete</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body d-flex flex-column align-items-center">
          <h2 class="fw-bold">{{dataPoll.title}}</h2>
          <p> By: {{dataPoll.creator}}</p>
          <div *ngIf="dataPoll.description !== null || undefined">
            <p>{{dataPoll.description}}</p>
          </div>
          <div class="row">
            <div class="col-12 col-sm">
              <h3 class="text-muted">
                <i class="bi bi-eye-slash-fill"></i>
                Only you can see the votes
              </h3>
              <br>
              <h3 class="text-muted">
                <i class="bi bi-check-all"></i>
                Marca las casillas dos veces para seleccionar el voto "Sí, si es necesario"
              </h3>
              <br>

              <h3 class="text-muted" *ngIf="creatorMode">
                <i class="bi bi-speedometer"></i>
                You are in creator mode, you can edit anything
              </h3>
              <br *ngIf="creatorMode">
            </div>
          </div>
          <table class="table table-bordered text-center" *ngIf="calendarHeaders.length<1">
            <thead>
              <tr>
                <th scope="col"> {{answers.responses.length}} Participants</th>
                <th scope="col" *ngFor="let option of dataPoll.textOptions">{{option.content}}</th>

              </tr>

            </thead>
            <!-- <thead *ngIf="calenPoll">
              <tr>
                <th scope="col"> {{answers.responses.length}} Participants</th>

                <th scope="col" *ngFor="let option of calendarHeaders">{{option}}</th>
              </tr>
            </thead> -->
            <tbody>
              <tr class="names" *ngFor="let item of answers.responses; let j = index">
                <th scope="row" class="names" *ngIf="item.user" [ngClass]="{'grey': j === index}"> {{item.user.name}}
                </th>
                <th scope="row" class="names" *ngIf="!item.user" [ngClass]="{'grey': j === index}">
                  <mat-form-field>
                    <mat-label *ngIf="j==index">Enter your name</mat-label>
                    <input matInput [(ngModel)]="item.name" [disabled]='j!==index'>
                  </mat-form-field>
                </th>
                <td (click)="triggerIcon(j,i)" [ngClass]="{'grey': j === index}"
                  *ngFor="let option of dataPoll.textOptions; let i = index">
                  <div [ngSwitch]="updateIcon[j][i]">
                    <div *ngSwitchCase="0">
                      <div class="greeN fs-4"><i class={{icon[j][i]}}></i></div>
                    </div>
                    <div *ngSwitchCase="1">
                      <div class="yellowN fs-4"><i class={{icon[j][i]}}></i></div>
                    </div>
                    <div *ngSwitchCase="2">
                      <i class={{icon[j][i]}}></i>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

          <table class="table table-bordered text-center" *ngIf="calendarHeaders.length>0">

            <thead>
              <tr>
                <th scope="col"> {{answers.responses.length}} Participants</th>

                <th scope="col" *ngFor="let option of calendarHeaders">{{option}}</th>
              </tr>
            </thead>
            <tbody>
              <tr class="names" *ngFor="let item of answers.responses; let j = index">
                <th scope="row" class="names" *ngIf="item.user" [ngClass]="{'grey': j === index}">
                  {{item.user.name}}
                </th>
                <th scope="row" class="names" *ngIf="!item.user" [ngClass]="{'grey': j === index }">
                  <mat-form-field>
                    <mat-label *ngIf="j==index">Enter your name</mat-label>
                    <input matInput [(ngModel)]="item.name" [disabled]='j!==index'>
                  </mat-form-field>
                </th>
                <td (click)="triggerIcon(j,i)" [ngClass]="{'grey': j === index }"
                  *ngFor="let option of calendarHeaders; let i = index">
                  <div [ngSwitch]="updateIcon[j][i]">
                    <div *ngSwitchCase="0">
                      <div class="greeN fs-4"><i class={{icon[j][i]}}></i></div>
                    </div>
                    <div *ngSwitchCase="1">
                      <div class="yellowN fs-4"><i class={{icon[j][i]}}></i></div>
                    </div>
                    <div *ngSwitchCase="2">
                      <i class={{icon[j][i]}}></i>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="saveDiv">
          <button mat-button class="save" (click)="onSave()" *ngIf="enableSave"> Send</button>
          <!-- <button mat-button class="save" (click)="onSave()" *ngIf="enableSave"> Update</button> -->

        </div>
        <div class="card-footer text-center">
          Made with <i class="bi bi-heart-fill red"></i> in Bolivia
          <p *ngFor="let e of calendarHeaders">
            {{e}}

          </p>
        </div>
      </div>
    </div>
  </div>
</div>
